* {
  margin: 0;
  padding: 0; }

html {
  overflow-y: hidden;
  user-select: none; }

/* color variables */
/* https://developer.mozilla.org/en-US/docs/Web/CSS/Using_CSS_custom_properties */
:root {
  /* colors */
  --toggle-fullscreen: rgba(80, 80, 80, 128);
  --toggle-fullscreen-hover: rgba(196, 196, 196, 196);
  --almost-black: #080808;
  --green: #a4d292;
  --bright-green: #bff5aa;
  --brighter-green: #cfffbb;
  --bright-teal: #3ddaf6;
  --dark-teal: #2b88ac;
  --dark-blue: #053852;
  --darker-blue: #032741;
  --bright-blue: #1197f9;
  --bright-pink: #f33c85;
  --bright-red: #ff0000;
  --medium-red: #800000;
  --category-selected-border: #f43c86;
  --category-not-selected-border: #202e31;
  --canvas-container-border-color: lightgray;
  --canvas-container-border-color-fullscreen: #222;
  --translucent-gray: rgba(32, 32, 32, 0.6);
  --dark-blue-gradient: rgba(8, 86, 112, 1);
  --darker-blue-gradient: rgba(3, 39, 65, 1);
  /* font sizes */
  --menu-page-title: 7.4vh;
  --menu-page-subtitle: 3vh;
  --menu-activity-category-title: 2.2vh;
  --menu-activity-category-page-title: 2vh;
  --menu-activity-category-page-subtitle: 1.8vh;
  --menu-category-page-name: 1.7vh;
  --menu-category-page-telescope: 1.5vh;
  --menu-activity-page-title: 2.8vh;
  --page-title: 4.6vh;
  --page-subtitle: 2.4vh;
  --telescope-title: 2vh;
  --animate-icons: 3.2vh;
  --control-title: 1.6vh;
  --control-subtitle: 1.6vh;
  --main-layer-selector: 2vh;
  --about-your-image: 2.8vh;
  --save-and-send-context: 2vh;
  --send-email-input: 1.6vh;
  --splash2-title: 8vh;
  --splash2-intro: 6vh; }

body {
  font-family: Rajdhani, Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-size: 0.9vw;
  color: lightgray;
  background-image: url("../images/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  line-height: 1.2rem;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  user-select: none; }

div#splash,
div#splash2 {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  color: white; }

div#splash2 {
  z-index: 50; }

#splash img {
  width: inherit;
  height: inherit; }

#splash2 img {
  width: inherit;
  height: inherit;
  object-fit: cover; }

#splash-center {
  position: fixed;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 0;
  bottom: 0;
  left: 0;
  text-transform: uppercase; }
  #splash-center .title-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start; }
    #splash-center .title-container .title1 {
      align-self: center;
      font-size: 6vh;
      height: 6vh;
      margin-bottom: 1em; }
    #splash-center .title-container .title2 {
      align-self: center;
      font-size: 12vh;
      height: 20vh;
      font-weight: 500; }

#splash2-content {
  position: fixed;
  height: 40vh;
  background-color: var(--translucent-gray);
  width: 100%;
  left: 0;
  top: 28vh;
  padding: 10vh 10vw;
  display: flex;
  flex-direction: row;
  align-items: flex-start; }
  #splash2-content .title {
    font-size: 4vh;
    line-height: 1.2em;
    width: 28vw;
    color: var(--bright-green);
    text-transform: uppercase;
    margin: 0 2vw; }
  #splash2-content .intro {
    font-size: 2.5vh;
    line-height: 1.1em;
    width: 50vw;
    color: lightgray;
    margin: 0 2vw; }
  #splash2-content #splash2-continue {
    align-self: flex-end;
    font-size: 120%;
    color: var(--bright-green);
    margin: 0 2vw;
    width: 10vw;
    background-color: transparent;
    border-color: var(--bright-green); }

#splash-footer {
  height: 8vh;
  text-transform: uppercase; }
  #splash-footer .start {
    font-size: 4vh; }

#loading-spinner {
  position: absolute;
  pointer-events: none;
  left: 0;
  top: 0;
  z-index: 300;
  width: 100%;
  height: 100%; }
  #loading-spinner div.spinner-border.text-secondary {
    color: var(--bright-teal) !important; }
  #loading-spinner.hide {
    display: none !important; }

.menu-page-header {
  margin: 1vh 0rem 6vh 6vh;
  padding-top: 1vh; }
  .menu-page-header .title {
    font-size: var(--menu-page-title);
    line-height: 120%;
    padding: 1rem 0rem 0rem 0rem;
    color: var(--bright-green);
    text-transform: uppercase; }
  .menu-page-header .subtitle {
    font-size: var(--menu-page-subtitle);
    line-height: 120%;
    padding: 0rem;
    color: var(--bright-teal); }

div.menu-activity-category-title {
  margin: 1rem 1rem; }

div.category.selected > .menu-activity-category-title,
div.category.not-selected > .menu-activity-category-title {
  display: none; }

img.menu-activity-category-title {
  margin: 0rem 0rem;
  width: 100%; }

div.category {
  margin: 0rem 1rem;
  padding: 0;
  max-height: 40vh;
  transition: max-height 0.4s; }
  div.category.selected {
    max-height: 20vh;
    overflow: hidden;
    border: 2px solid var(--category-selected-border);
    border-radius: 4px; }
  div.category.not-selected {
    max-height: 20vh;
    overflow: hidden;
    border: 2px solid var(--category-not-selected-border);
    filter: brightness(50%); }
  div.category > img {
    width: 100%;
    border: 2px solid var(--bright-green);
    border-radius: 4px; }
  div.category.selected > img {
    border: none; }
  div.category.not-selected > img {
    border: none; }

div#menu-category-telescope {
  margin-left: 4vw; }

header.menu-activity-category-title {
  font-size: var(--menu-activity-page-title);
  line-height: 120%;
  text-align: center;
  padding: 0rem 0rem;
  color: var(--bright-teal);
  text-transform: uppercase; }

#menu-category-masterpiece-pages {
  left: 10%; }

#menu-category-animate-pages {
  left: 24%; }

#menu-category-rgb-pages {
  right: -8%; }

#menu-category-multi-wave-pages {
  right: -45%; }

#menu-category-observation-pages {
  margin-left: auto; }

#menu-connnect-svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  pointer-events: none; }

#menu-connnect-line {
  display: none;
  stroke: var(--category-selected-border);
  stroke-width: 2px; }
  #menu-connnect-line.show {
    display: inline; }

#menu-separator-svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  pointer-events: none; }

#menu-separator-line {
  display: none;
  stroke: var(--bright-teal);
  stroke-width: 2px; }
  #menu-separator-line.show {
    display: inline; }

div.menu-category-pages {
  display: none;
  position: relative;
  height: 38vh;
  width: fit-content;
  padding: 2vh 2rem 0vh 2rem;
  border: 2px solid var(--category-selected-border);
  border-radius: 4px; }
  div.menu-category-pages.selected {
    display: block; }
  div.menu-category-pages .header {
    max-width: 30vw; }
  div.menu-category-pages svg {
    position: absolute;
    width: 2em;
    height: 2em;
    top: 0.5em;
    right: 0.5em; }
  div.menu-category-pages circle {
    left: auto;
    fill: transparent;
    stroke: var(--bright-green);
    cx: 50%;
    cy: 50%;
    r: 46%;
    stroke-width: 6%; }
  div.menu-category-pages line {
    left: auto;
    stroke: var(--bright-green);
    stroke-width: 6%;
    cx: 50%;
    cy: 50%; }
  div.menu-category-pages circle:hover {
    stroke-width: 2; }
  div.menu-category-pages .body {
    display: flex;
    height: 26vh; }
  div.menu-category-pages .title {
    font-size: var(--menu-activity-category-page-title);
    padding-bottom: 0.5rem;
    color: var(--bright-green);
    text-transform: uppercase; }
  div.menu-category-pages .subtitle {
    font-size: var(--menu-activity-category-subtitle);
    line-height: 120%;
    padding: 0rem 0rem 0.5rem 0rem;
    color: white; }
  div.menu-category-pages .action {
    font-size: var(--menu-activity-category-subtitle);
    font-weight: bold;
    line-height: 120%;
    padding: 0rem 0rem 0.5rem 0rem;
    color: white;
    text-transform: uppercase; }

div.menu-category-page {
  width: 14vw;
  min-width: 14em;
  max-width: 14em;
  margin-right: 1rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  line-height: 2vh; }
  div.menu-category-page .image-wrapper {
    height: 80%;
    width: 100%;
    border: 1px solid var(--bright-green);
    border-radius: 4px; }
    div.menu-category-page .image-wrapper img {
      padding: 2px;
      height: 100%;
      width: 100%;
      object-fit: cover; }
  div.menu-category-page .name {
    font-size: var(--menu-category-page-name);
    color: var(--bright-teal);
    text-transform: uppercase;
    padding-top: 0.25em; }
  div.menu-category-page .telescope {
    font-size: var(--menu-category-page-telescope);
    color: var(--bright-teal); }

div.menu-activity-page-title {
  margin: 1rem 1rem; }

img.menu-activity-page-title {
  margin: 0rem 1rem;
  width: 90%;
  border: 1px solid var(--bright-green);
  border-radius: 4px; }

div.offcanvas {
  height: 87vh;
  background-color: black;
  color: lightgray;
  border: 1px solid var(--dark-teal); }

div.offcanvas-header button.btn-close-white {
  border: none;
  width: 2vh;
  height: 2vh; }

div.offcanvas-end {
  width: 18vw;
  top: 10px;
  right: 5px; }

#developerToolsSideBar-body {
  font-size: 90%;
  padding-top: 0vh; }
  #developerToolsSideBar-body header {
    font-size: 110%;
    margin-bottom: 0.5vh; }
  #developerToolsSideBar-body a {
    color: var(--green);
    text-decoration: none; }
    #developerToolsSideBar-body a.btn-light {
      font-size: 90%;
      font-weight: bold;
      color: black; }
  #developerToolsSideBar-body a.reset {
    color: var(--medium-red);
    font-size: 120%; }
    #developerToolsSideBar-body a.reset:hover {
      color: var(--bright-red); }
  #developerToolsSideBar-body a.toggle {
    color: lightgray;
    font-size: 120%; }
    #developerToolsSideBar-body a.toggle:hover {
      color: white; }
  #developerToolsSideBar-body a.toggle.on {
    color: white; }
  #developerToolsSideBar-body label {
    text-transform: none; }
  #developerToolsSideBar-body input[type="number"] {
    margin-left: 0.5vw;
    padding-left: 0.25vw;
    width: 3.5vw;
    border: 1px solid #ccc;
    border-radius: 2px; }
  #developerToolsSideBar-body div.pos {
    width: 4vw;
    padding-right: 0; }
  #developerToolsSideBar-body div.xaxis {
    font-size: 90%; }
  #developerToolsSideBar-body div.setting {
    width: 8vw;
    padding-right: 0; }
  #developerToolsSideBar-body div.data label {
    text-transform: none; }
  #developerToolsSideBar-body div.data input {
    margin-right: 0.5vw; }
  #developerToolsSideBar-body div.data div {
    margin-bottom: 0.1vh; }
  #developerToolsSideBar-body div.data div.pos {
    width: 4vw;
    padding-right: 0; }
  #developerToolsSideBar-body div.pos {
    width: 4vw;
    padding-right: 0;
    margin-botton: 0.5vh; }
  #developerToolsSideBar-body div {
    margin-bottom: 0.5vh; }
  #developerToolsSideBar-body div.image-inspect input {
    margin-right: 0.5vw; }
  #developerToolsSideBar-body div.image-inspect div.data div {
    margin-bottom: 0; }
  #developerToolsSideBar-body div.image-inspect div.data div.pos {
    width: 4vw;
    padding-right: 0; }
  #developerToolsSideBar-body div.image-inspect div.pos {
    width: 4vw;
    padding-right: 0; }

.btn-clipboard,
.btn-reset {
  display: block;
  padding: 0.25rem 0.25rem;
  color: var(--dark-teal);
  background-color: #fff;
  border: 1px solid;
  border-radius: 0.25rem; }
  .btn-clipboard:hover,
  .btn-reset:hover {
    font-weight: bold; }

.btn-reset i {
  color: var(--medium-red); }
  .btn-reset i:hover {
    color: var(--bright-red); }

svg#inspect-indicator {
  position: absolute;
  pointer-events: none;
  z-index: 10;
  display: none;
  color: var(--bright-teal); }
  svg#inspect-indicator.show {
    display: block; }

header.menu-activity-page-title {
  font-size: var(--menu-activity-page-title);
  line-height: 120%;
  text-align: center;
  padding: 0rem 0rem;
  color: var(--bright-teal);
  text-transform: uppercase; }

.activity-category-menu {
  margin: 4vh 2vw; }
  .activity-category-menu > .row {
    margin-bottom: 2em; }

.activity-category-pages {
  margin: 4vh 1vw; }

.activity-page {
  margin: 6vh 4vw 0vh 4vw;
  height: 92vh; }

.col-main-content {
  flex: 0 0 auto;
  width: 87%; }

.col-right-content {
  flex: 0 0 auto;
  width: 13%;
  height: 83vh; }

.col-left {
  flex: 0 0 auto;
  width: 31%; }

.col-main {
  flex: 0 0 auto;
  width: 69%; }

.activity-page-menu > .row {
  margin-bottom: 2em; }

.start-activity-page {
  background-color: black;
  font-size: 1.8vh;
  width: 10em;
  height: fit-content; }

.page-navigation {
  font-size: 1.2vh;
  margin: 1vw;
  z-index: 25; }

.page-navigation-button {
  background-color: var(--almost-black);
  color: var(--bright-green);
  border-color: var(--bright-green);
  font-size: 1.4vh;
  margin-right: 1vh; }

#save-and-send-button {
  font-size: 2.4vh;
  padding: 0.75rem 1rem;
  border-width: 2px; }

.left-column .subtitle,
.left-column .morecontext {
  margin-bottom: 1em; }

button.scale {
  width: 4vh;
  background-color: black;
  font-size: 2vh;
  font-weight: 600;
  color: white;
  padding: 0;
  margin: 0 1vh; }

.h1,
h1 {
  font-size: 1.8rem;
  font-size: 2.4vw; }

.h2,
h2 {
  font-size: 1.5rem;
  font-size: 2vw; }

.h3,
h3 {
  font-size: 1.3rem;
  font-size: 1.8vw; }

.h4,
h4 {
  font-size: 1.1rem;
  font-size: 1.4vw; }

label,
button {
  text-transform: uppercase; }

.page-header {
  margin: 0vh 0vh 1vh 0vh; }

.page-title {
  font-size: var(--page-title);
  padding: 0.5rem 0rem;
  color: var(--bright-green);
  text-transform: uppercase;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap; }

.page-subtitle {
  line-height: 120%;
  font-size: var(--page-subtitle);
  padding: 1rem 0rem;
  color: var(--bright-teal); }

div.control-collection {
  background-color: var(--dark-blue);
  padding: 1vh 1vh; }
  div.control-collection div.find-apollo {
    width: 100%;
    height: 22vh;
    margin: 0.5vh 0vh;
    background-color: var(--almost-black);
    border: 2px solid var(--canvas-container-border-color); }
    div.control-collection div.find-apollo.matchingscale {
      border: 2px solid var(--bright-pink); }
    div.control-collection div.find-apollo canvas {
      width: 100%;
      height: 100%;
      padding: 0;
      margin: 0;
      object-fit: cover; }
  div.control-collection.select-layer,
  div.control-collection .color-maps {
    margin-bottom: 0vh;
    padding-bottom: 1.2vh;
    padding-top: 1vh; }
  div.control-collection.special-effects {
    margin-top: 1vh;
    margin-bottom: 1vh; }
  div.control-collection > .title {
    color: var(--bright-green);
    font-size: var(--control-title);
    font-weight: 500;
    padding: 0vh 0vh 0.5vh 0.5vh; }
  div.control-collection > .subtitle {
    font-size: var(--control-subtitle);
    font-weight: 500;
    padding: 0vh 0vh 0.5vh 0.5vh; }
  div.control-collection.adjust-layer {
    margin-top: 0vh;
    margin-bottom: 0vh;
    padding-top: 2vh;
    padding-bottom: 1vh; }
    div.control-collection.adjust-layer > .subtitle {
      margin-bottom: 2.4vh; }
  div.control-collection > .name {
    text-transform: uppercase; }
  div.control-collection > .context {
    font-size: var(--control-subtitle);
    padding: 0.5vh 0vh 0.25vh 0.5vh; }
  div.control-collection > .row,
  div.control-collection form > .row {
    margin: 0.75em 0em;
    max-height: 4vh; }
    div.control-collection > .row .effect:hover,
    div.control-collection > .row .select-filter:hover,
    div.control-collection form > .row .effect:hover,
    div.control-collection form > .row .select-filter:hover {
      color: white;
      font-weight: bold; }
    div.control-collection > .row.select-filter input,
    div.control-collection form > .row.select-filter input {
      margin: 0vh 0vh 0vh 0vh;
      padding: 0; }
    div.control-collection > .row.select-filter label,
    div.control-collection form > .row.select-filter label {
      font-size: var(--control-subtitle); }
    div.control-collection > .row.special-effects input,
    div.control-collection form > .row.special-effects input {
      margin: 0vh 0vh 0vh 0vh;
      padding: 0; }
    div.control-collection > .row.special-effects label,
    div.control-collection form > .row.special-effects label {
      font-size: var(--control-subtitle);
      padding-left: 0.5vh; }
  div.control-collection div.adjust-filter {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 1.5rem; }
    div.control-collection div.adjust-filter label {
      font-size: 1.9vh;
      font-weight: 500;
      width: 6.5rem;
      margin-right: 0.25rem; }
    div.control-collection div.adjust-filter div.slider-icon {
      z-index: 1; }
      div.control-collection div.adjust-filter div.slider-icon svg {
        pointer-events: none;
        width: 1.7vw;
        height: 1.7vw; }
        div.control-collection div.adjust-filter div.slider-icon svg path {
          fill: var(--dark-teal);
          stroke-width: 1px; }
        div.control-collection div.adjust-filter div.slider-icon svg:hover path {
          fill: white; }
      div.control-collection div.adjust-filter div.slider-icon.step-down {
        margin-right: -3px; }
      div.control-collection div.adjust-filter div.slider-icon.step-up {
        margin-left: -3px; }
    div.control-collection div.adjust-filter input[type="range"] {
      -webkit-appearance: none;
      padding: 0;
      width: 14rem; }
      div.control-collection div.adjust-filter input[type="range"]::-webkit-slider-runnable-track {
        -webkit-appearance: none;
        margin-top: 0rem;
        color: var(--bright-blue);
        border: none;
        border-radius: 0;
        height: 6px;
        width: 20px;
        background: #3ddaf6;
        cursor: ew-resize;
        box-shadow: 0 0 2px 0 #555;
        transition: background 0.3s ease-in-out; }
      div.control-collection div.adjust-filter input[type="range"]::-webkit-slider-thumb {
        -webkit-appearance: none;
        border: 1px solid #000000;
        height: 1.5rem;
        width: 0.5rem;
        border-radius: 2px;
        background: #bff5aa;
        cursor: pointer;
        margin-top: -0.5rem; }
    div.control-collection div.adjust-filter output {
      width: 2.5rem;
      padding-left: 0.5rem; }

div.row.select-filter:hover {
  color: white;
  font-weight: bold; }

div.color-maps > row {
  margin: 0.5em 0em;
  padding: 0; }
  div.color-maps > row div.col-6 {
    padding: 0, 0, 0, 1em; }

div.select-cmap {
  padding: 0;
  height: 2.5vh; }
  div.select-cmap.selected {
    color: white;
    font-weight: unset;
    border: 1px solid var(--dark-teal);
    border-radius: 2px;
    background-color: var(--dark-teal); }
  div.select-cmap:hover {
    color: white;
    font-weight: 600;
    border: 1px solid white;
    border-radius: 2px; }
  div.select-cmap div.label {
    padding-left: 0rem;
    text-transform: uppercase; }
  div.select-cmap div.canvas {
    padding: 0.25rem 0.25rem 0.25rem 0rem; }
    div.select-cmap div.canvas canvas {
      object-fit: fill; }

.select-filter-label:hover {
  color: white;
  font-weight: bold; }

.solid-right-arrow {
  color: red;
  padding-right: 0.2rem; }

div.filter-palette {
  padding: 0.25rem 0.25rem 0.25rem 0rem;
  max-height: 4vh; }
  div.filter-palette canvas {
    object-fit: fill; }

.image-name {
  margin: 0;
  padding: 1vh 0vh 0vh 0vh;
  font-size: var(--page-subtitle);
  color: var(--bright-teal);
  text-transform: uppercase;
  align-self: baseline; }

.page-image {
  border: 3px solid white; }

.row-spacer {
  min-height: 6vh; }

.display-layer-checkbox {
  width: 1.5em; }

.select-layer-checkbox {
  padding-left: 0.5rem;
  width: 3rem; }

#scaling input {
  width: 2.5vh;
  height: 2.5vh; }

#scaling .scaling-label {
  margin: 0vh 0.5vh 0vh 0.5vh; }

#scaling .scaling-radio {
  margin: 0vh 1vh 0vh 0.5vh; }

div.btn-tf > svg {
  width: 2.4vh;
  height: 2.4vh;
  margin: 0vh 0.25vh 0.25vh 1vh;
  fill: var(--toggle-fullscreen);
  display: none; }
  div.btn-tf > svg path {
    stroke-width: 6px; }
  div.btn-tf > svg:hover path {
    fill: lightgray; }
  div.btn-tf > svg:not {
    fill: var(--toggle-fullscreen-hover); }
  div.btn-tf > svg.show {
    display: flex; }

div#btn-tf-micc {
  position: absolute;
  z-index: 10;
  bottom: 0.3vh;
  right: 1.2vw;
  height: 3vh;
  width: 3vh; }

div#btn-tf-micc > svg.show:fullscreen {
  display: none; }

body:not(.dev) svg.fsOpen,
svg.fsClose {
  display: none; }

div#btn-toggle-developer-tools-page-navigation {
  margin-right: 4vh; }
  div#btn-toggle-developer-tools-page-navigation button {
    color: var(--bright-blue);
    border-color: var(--bright-blue);
    background-color: var(--b); }

/* http://stackoverflow.com/questions/7615009/disable-interpolation-when-scaling-a-canvas */
div.main-image-content {
  display: inline-block; }

#under-main-image-row {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between; }

div.under-main-layer-selectors {
  margin: 0;
  padding: 1vh;
  width: 65%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--dark-blue); }
  div.under-main-layer-selectors .subtitle {
    font-size: var(--control-subtitle);
    font-weight: 500; }

div.shrinking-spacer {
  height: 12%;
  flex: 0 4 auto; }

div.telescope-container {
  flex: 0 1 auto; }
  div.telescope-container div.about-telescope {
    padding: 0.75rem 0rem;
    font-size: var(--telescope-title);
    text-transform: uppercase; }
  div.telescope-container div.telescope-image-container {
    height: 16vh;
    width: 100%;
    background-color: black;
    border: 2px solid var(--dark-teal); }
    div.telescope-container div.telescope-image-container img {
      background-color: black;
      height: 100%;
      width: 100%;
      object-fit: contain; }

#animate-controls {
  margin: 2vh 0.5vh;
  font-size: var(--animate-icons); }
  #animate-controls .step {
    margin-top: 4vh;
    border: 2px solid var(--green);
    border-radius: 0.5vh; }
    #animate-controls .step:hover {
      color: var(--bright-green);
      border: 2px solid var(--bright-green); }
  #animate-controls .playpause {
    font-size: 180%; }
    #animate-controls .playpause:hover {
      color: var(--bright-green); }
  #animate-controls .animate-control {
    color: var(--green);
    padding: 0.1rem 0.5rem; }
    #animate-controls .animate-control .label {
      font-size: 55%;
      text-transform: uppercase; }
    #animate-controls .animate-control:focus-visible {
      outline: 4px dashed black;
      cursor: none; }
    #animate-controls .animate-control:focus:not(:focus-visible) {
      outline: none;
      box-shadow: 1px 1px 5px rgba(1, 1, 0, 0.7); }
  #animate-controls .back {
    padding-right: 0.2rem; }
  #animate-controls .next {
    padding-left: 0.2rem; }
  #animate-controls div#animate-play {
    display: block; }
  #animate-controls div#animate-pause {
    display: none; }

#animate-controls.playing div#animate-play {
  display: none; }

#animate-controls.playing div#animate-pause {
  display: block; }

#preview-image-name {
  color: var(--bright-teal);
  text-transform: uppercase; }

div#preview-image-center-name {
  color: var(--almost-black);
  text-transform: uppercase;
  font-size: 120%;
  font-weight: 600; }

div#preview-image-back-name,
div#preview-image-next-name {
  color: var(--bright-teal);
  background-color: transparent;
  text-transform: uppercase;
  font-size: 120%;
  font-weight: 600; }

.unselectable {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none; }

div.zoom-preview-content {
  border: 2px solid var(--bright-teal);
  padding: 0.5vh 1vh 1vh 1vh;
  background-color: black; }
  div.zoom-preview-content > .label {
    float: left; }

div#preview-image-container {
  border: 2px solid var(--canvas-container-border-color); }

div#preview-image-canvas-container {
  position: relative;
  height: 24vh;
  width: 100%;
  margin: 0;
  background-color: var(--almost-black); }
  div#preview-image-canvas-container > .label {
    float: left; }
  div#preview-image-canvas-container canvas {
    position: absolute;
    left: 0;
    top: 0;
    padding: 0;
    margin: 0;
    object-fit: contain; }
  div#preview-image-canvas-container.zoomrect {
    height: 18vh;
    width: 18vh;
    background-color: black;
    border: none; }
  div#preview-image-canvas-container.zoomrect > canvas {
    width: 18vh; }
    div#preview-image-canvas-container.zoomrect > canvas.overzoomrect {
      cursor: move; }

canvas#preview-palette {
  position: unset;
  display: block;
  border-top: 1px solid var(--canvas-container-border-color); }

#multi-wave-telescope-name {
  margin-top: 0.25vh;
  margin-left: -0.5vh;
  z-index: 10; }

.zoom-rect-container {
  width: 100%;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center; }

div#preview-image-center-canvas-container {
  position: relative;
  height: 10vh;
  width: 100%;
  margin: 0;
  background-color: var(--almost-black);
  border: none; }
  div#preview-image-center-canvas-container canvas {
    position: absolute;
    padding: 0;
    margin: 0;
    object-fit: contain; }

div#preview-image-back-canvas-container,
div#preview-image-next-canvas-container {
  position: relative;
  height: 10vh;
  width: 100%;
  margin: 0;
  background-color: var(--almost-black);
  border: none; }
  div#preview-image-back-canvas-container canvas,
  div#preview-image-next-canvas-container canvas {
    position: absolute;
    padding: 0;
    margin: 0;
    object-fit: contain; }

div#preview-image-canvas-container.animate {
  height: 10vh;
  width: 100%;
  border: none; }

div.animate-center {
  background-color: var(--brighter-green);
  border-radius: 1px; }

.animate-left,
.animate-right {
  background-color: var(--dark-teal);
  border-radius: 1px; }

#column-middle-spacer {
  flex-grow: 1; }

#dev-right {
  flex: 0 1 auto;
  margin-bottom: 6vh; }

.modal-dialog {
  max-width: unset;
  width: 40vw; }
  .modal-dialog .modal-content {
    background-color: var(--almost-black);
    border: 3px solid var(--canvas-container-border-color);
    border-radius: 3px; }
    .modal-dialog .modal-content button {
      width: fit-content; }
    .modal-dialog .modal-content .modal-header {
      padding: 0.5vh 2vh; }
      .modal-dialog .modal-content .modal-header h5 {
        font-size: var(--page-title);
        color: var(--bright-green); }
      .modal-dialog .modal-content .modal-header div.image-container {
        margin-left: 2vh;
        height: 10vh;
        width: 30%;
        background-color: black; }
        .modal-dialog .modal-content .modal-header div.image-container img {
          background-color: black;
          height: 100%;
          width: 100%;
          object-fit: contain; }
      .modal-dialog .modal-content .modal-header button.btn-close {
        min-width: 3vw;
        font-size: 6vh;
        color: white; }
    .modal-dialog .modal-content .modal-body {
      font-size: var(--page-subtitle);
      color: var(--bright-teal);
      line-height: 120%; }

#save-and-send-modal.fade,
#observation-modal.fade {
  transition: opacity 0.15s linear; }

body.fadeout .modal-backdrop.show {
  opacity: 1;
  bottom: 90vh; }

body.nofadeout .modal-backdrop.show {
  opacity: 0;
  top: 12vh;
  height: 76vh; }

body.nofadeout .modal {
  top: 12vh;
  height: 76vh; }

body.nofadeout .activity-page {
  display: none; }

body.nofadeout #btn-toggle-developer-tools-page-navigation {
  display: none; }

body:not(.dev) #btn-toggle-developer-tools-page-navigation {
  display: none; }

div#observation-modal .modal-body {
  height: 45vh; }

#save-and-send-modal .modal-dialog,
#observation-modal .modal-dialog {
  max-width: none;
  width: 100vw;
  height: 45vh;
  padding-left: 2vw;
  background-color: black; }
  #save-and-send-modal .modal-dialog .modal-content,
  #observation-modal .modal-dialog .modal-content {
    background-color: black;
    border: none; }
    #save-and-send-modal .modal-dialog .modal-content button,
    #observation-modal .modal-dialog .modal-content button {
      width: fit-content; }
    #save-and-send-modal .modal-dialog .modal-content .modal-header,
    #observation-modal .modal-dialog .modal-content .modal-header {
      background-color: black;
      border: none;
      padding: 0.5vh 2vh; }
      #save-and-send-modal .modal-dialog .modal-content .modal-header h5,
      #observation-modal .modal-dialog .modal-content .modal-header h5 {
        font-size: var(--page-title);
        color: var(--bright-green);
        text-transform: uppercase; }
      #save-and-send-modal .modal-dialog .modal-content .modal-header button.btn-close,
      #observation-modal .modal-dialog .modal-content .modal-header button.btn-close {
        min-width: 3vw;
        font-size: 6vh;
        color: white; }
    #save-and-send-modal .modal-dialog .modal-content .modal-footer,
    #observation-modal .modal-dialog .modal-content .modal-footer {
      border: none; }
      #save-and-send-modal .modal-dialog .modal-content .modal-footer button,
      #observation-modal .modal-dialog .modal-content .modal-footer button {
        display: none; }
    #save-and-send-modal .modal-dialog .modal-content .modal-body,
    #observation-modal .modal-dialog .modal-content .modal-body {
      height: 45vh;
      width: 100%;
      font-size: var(--page-title);
      color: var(--bright-teal);
      background-color: black;
      line-height: 120%; }
      #save-and-send-modal .modal-dialog .modal-content .modal-body .salutation,
      #observation-modal .modal-dialog .modal-content .modal-body .salutation {
        text-transform: uppercase; }
      #save-and-send-modal .modal-dialog .modal-content .modal-body .about-your-image,
      #observation-modal .modal-dialog .modal-content .modal-body .about-your-image {
        margin-top: 1vh;
        line-height: 100%;
        font-size: var(--about-your-image); }
        #save-and-send-modal .modal-dialog .modal-content .modal-body .about-your-image .image-name,
        #observation-modal .modal-dialog .modal-content .modal-body .about-your-image .image-name {
          font-size: var(--about-your-image); }
      #save-and-send-modal .modal-dialog .modal-content .modal-body .image-name,
      #observation-modal .modal-dialog .modal-content .modal-body .image-name {
        font-size: var(--page-title); }
      #save-and-send-modal .modal-dialog .modal-content .modal-body .context,
      #observation-modal .modal-dialog .modal-content .modal-body .context {
        margin-top: 2vh;
        font-size: var(--save-and-send-context);
        line-height: 110%;
        color: white; }
      #save-and-send-modal .modal-dialog .modal-content .modal-body .enter-email label,
      #observation-modal .modal-dialog .modal-content .modal-body .enter-email label {
        padding-left: 0;
        padding-bottom: 0.25vh;
        line-height: 100%;
        font-size: var(--send-email-input); }
      #save-and-send-modal .modal-dialog .modal-content .modal-body .enter-email input,
      #observation-modal .modal-dialog .modal-content .modal-body .enter-email input {
        padding: 0vh 1vh;
        background-color: black;
        color: white;
        border: 1px solid var(--bright-teal);
        border-radius: 2px;
        letter-spacing: 1px; }
        #save-and-send-modal .modal-dialog .modal-content .modal-body .enter-email input[type="hidden"],
        #observation-modal .modal-dialog .modal-content .modal-body .enter-email input[type="hidden"] {
          display: none; }
      #save-and-send-modal .modal-dialog .modal-content .modal-body .enter-email button,
      #observation-modal .modal-dialog .modal-content .modal-body .enter-email button {
        margin: 0vh 2vh; }
      #save-and-send-modal .modal-dialog .modal-content .modal-body .image-container,
      #observation-modal .modal-dialog .modal-content .modal-body .image-container {
        margin-left: 2vh;
        margin-top: 0.5vh;
        height: 30vh;
        width: 30vh;
        padding: 0;
        background-color: black;
        border: 2px solid var(--canvas-container-border-color);
        border-radius: 3px; }
        #save-and-send-modal .modal-dialog .modal-content .modal-body .image-container img,
        #observation-modal .modal-dialog .modal-content .modal-body .image-container img {
          background-color: black;
          height: 100%;
          width: 100%;
          object-fit: contain; }

#save-and-send-enter-email-button,
#observation-enter-email-button,
#observation-send-email-button {
  font-size: var(--save-and-send-context);
  color: var(--bright-green);
  border-color: var(--bright-green);
  margin-top: 1vh;
  margin-left: 3vw; }

canvas {
  height: 100%;
  width: 100%;
  object-fit: contain; }

div#save-and-send-canvas-container {
  position: relative;
  min-height: 30vh;
  min-width: 30vh;
  margin: 0;
  padding: 0;
  background-color: black;
  border: 3px solid var(--canvas-container-border-color);
  border-radius: 3px; }
  div#save-and-send-canvas-container:fullscreen {
    width: 90vw;
    height: 80vh;
    border: 3px solid var(--canvas-container-border-color-fullscreen); }
  div#save-and-send-canvas-container canvas {
    position: absolute;
    padding: 0;
    margin: 0;
    background-color: gray;
    object-fit: contain; }
    div#save-and-send-canvas-container canvas.red {
      background-color: red; }
    div#save-and-send-canvas-container canvas.green {
      background-color: green; }
    div#save-and-send-canvas-container canvas.blue {
      background-color: blue; }
    div#save-and-send-canvas-container canvas.layer {
      cursor: all-scroll;
      background-color: var(--almost-black); }
    div#save-and-send-canvas-container canvas:last-child {
      display: block;
      background-color: var(--almost-black); }

div#micc-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  border: 3px solid var(--canvas-container-border-color);
  border-radius: 3px; }

div#main-image-canvas-container {
  position: relative;
  width: 100%;
  height: 70vh;
  margin: 0;
  padding: 0;
  background-color: black; }
  div#main-image-canvas-container:fullscreen {
    width: 90vw;
    height: 80vh;
    border: 3px solid var(--canvas-container-border-color-fullscreen); }
  div#main-image-canvas-container canvas {
    position: absolute;
    padding: 0;
    margin: 0;
    top: 0;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, 0%);
    width: 100%;
    max-width: 100%;
    background-color: gray;
    object-fit: contain; }
    div#main-image-canvas-container canvas.red {
      background-color: red; }
    div#main-image-canvas-container canvas.green {
      background-color: green; }
    div#main-image-canvas-container canvas.blue {
      background-color: blue; }
    div#main-image-canvas-container canvas.layer {
      cursor: all-scroll;
      background-color: var(--almost-black); }
    div#main-image-canvas-container canvas:last-child {
      display: block;
      background-color: var(--almost-black); }
    div#main-image-canvas-container canvas.inspect {
      cursor: crosshair;
      border: 1px solid darkgray; }
    div#main-image-canvas-container canvas.inspecting {
      cursor: none; }

div#main-canvas-wrapper {
  position: relative;
  height: 70vh;
  margin: 0;
  padding: 0;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, 0%);
  width: unset;
  max-width: 100%;
  background-color: gray; }
  div#main-canvas-wrapper.inspect {
    cursor: crosshair;
    border: 1px solid darkgray; }
  div#main-canvas-wrapper.inspecting {
    cursor: none; }

canvas#main-image-canvas-red {
  object-fit: contain; }

span.touchinfo {
  background: transparent;
  left: 50%;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%); }
  span.touchinfo.hidden {
    display: none; }

div.main-image-content:not(:root):fullscreen {
  width: 100%;
  height: 100%;
  display: inline-block; }
  div.main-image-content:not(:root):fullscreen #main-image-canvas-container {
    width: 100%;
    height: 94vh;
    border: 3px solid var(--canvas-container-border-color-fullscreen);
    max-height: none; }

div.layer-histogram {
  display: block; }

div#image-stats {
  display: block; }

#scaling-control {
  margin: 1vh 0vh;
  display: flex; }

div.histogram-container {
  height: 8vh;
  width: 100%;
  margin: 0.5em 0em;
  padding: 0px;
  background-color: var(--almost-black);
  border: 1px solid var(--bright-teal); }

#image-layer-histogram.canvas,
#layer-histogram-rawdata.canvas {
  background-color: black;
  height: 100%;
  width: 100%; }

@media print {
  body,
  html * {
    visibility: hidden;
    overflow: hidden;
    height: 100vh; }
  .main-image-canvas {
    visibility: visible;
    display: block;
    background-color: white;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    padding: 15px;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%); } }

@supports (-webkit-appearance: none) or (-moz-appearance: none) {
  input[type="checkbox"],
  input[type="radio"] {
    --active: #275efe;
    --active-inner: #fff;
    --focus: 2px rgba(39, 94, 254, 0.3);
    --border: #bbc1e1;
    --border-hover: #275efe;
    --background: #fff;
    --disabled: #f6f8ff;
    --disabled-inner: #e1e6f9;
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 21px;
    outline: none;
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin: 0;
    cursor: pointer;
    border: 1px solid var(--bc, var(--border));
    background: var(--b, var(--background));
    rowselect-filter: background 0.2s, border-color 0.2s, box-shadow 0.1s; }
    input[type="checkbox"]:after,
    input[type="radio"]:after {
      content: "";
      display: block;
      left: 0;
      top: 0;
      position: absolute;
      transition: transform var(--d-t, 0.2s) var(--d-t-e, ease), opacity var(--d-o, 0.2s); }
    input[type="checkbox"]:checked,
    input[type="radio"]:checked {
      --b: var(--active);
      --bc: var(--active);
      --d-o: 0.3s;
      --d-t: 0.6s;
      --d-t-e: cubic-bezier(0.2, 0.85, 0.32, 1.2); }
    input[type="checkbox"]:disabled,
    input[type="radio"]:disabled {
      --b: var(--disabled);
      cursor: not-allowed;
      opacity: 0.9; }
      input[type="checkbox"]:disabled:checked,
      input[type="radio"]:disabled:checked {
        --b: var(--disabled-inner);
        --bc: var(--border); }
      input[type="checkbox"]:disabled + label,
      input[type="radio"]:disabled + label {
        cursor: not-allowed; }
    input[type="checkbox"]:hover:not(:checked):not(:disabled),
    input[type="radio"]:hover:not(:checked):not(:disabled) {
      --bc: var(--border-hover); }
    input[type="checkbox"]:focus,
    input[type="radio"]:focus {
      box-shadow: 0 0 0 var(--focus); }
    input[type="checkbox"]:not(.switch),
    input[type="radio"]:not(.switch) {
      width: 21px; }
      input[type="checkbox"]:not(.switch):after,
      input[type="radio"]:not(.switch):after {
        opacity: var(--o, 0); }
      input[type="checkbox"]:not(.switch):checked,
      input[type="radio"]:not(.switch):checked {
        --o: 1; }
    input[type="checkbox"] + label,
    input[type="radio"] + label {
      font-size: 14px;
      line-height: 21px;
      display: inline-block;
      vertical-align: top;
      cursor: pointer;
      margin-left: 4px; }
  input[type="checkbox"]:not(.switch) {
    border-radius: 7px; }
    input[type="checkbox"]:not(.switch):after {
      width: 5px;
      height: 9px;
      border: 2px solid var(--active-inner);
      border-top: 0;
      border-left: 0;
      left: 7px;
      top: 4px;
      transform: rotate(var(--r, 20deg)); }
    input[type="checkbox"]:not(.switch):checked {
      --r: 43deg; }
  input[type="checkbox"].switch {
    width: 38px;
    border-radius: 11px; }
    input[type="checkbox"].switch:after {
      left: 2px;
      top: 2px;
      border-radius: 50%;
      width: 15px;
      height: 15px;
      background: var(--ab, var(--border));
      transform: translateX(var(--x, 0)); }
    input[type="checkbox"].switch:checked {
      --ab: var(--active-inner);
      --x: 17px; }
    input[type="checkbox"].switch:disabled:not(:checked):after {
      opacity: 0.6; }
  input[type="radio"] {
    border-radius: 50%; }
    input[type="radio"]:after {
      width: 19px;
      height: 19px;
      border-radius: 50%;
      background: var(--active-inner);
      opacity: 0;
      transform: scale(var(--s, 0.7)); }
    input[type="radio"]:checked {
      --s: 0.5; } }

div.select-layer {
  padding: 0em 0.5em;
  background-color: var(--dark-blue); }
  div.select-layer .subtitle {
    font-size: var(--control-subtitle);
    font-weight: 500; }
  div.select-layer div.eyes-input {
    text-transform: uppercase;
    font-size: var(--main-layer-selector);
    font-weight: 500;
    margin-right: 0.25vw; }
  div.select-layer label {
    font-size: var(--control-subtitle);
    font-weight: 500; }
    div.select-layer label.eyes-input {
      display: inline-block;
      width: 44px;
      height: 44px;
      cursor: pointer;
      background-image: url(../images/eyes/eyeclosed.svg); }
  div.select-layer input[type="checkbox"].eyes-input {
    display: none; }
  div.select-layer input[type="checkbox"]:checked + label.eyes-input {
    background-image: url(../images/eyes/eyeopen.svg); }
  div.select-layer label.eyes-input:has(> input[type="checkbox"]:checked) {
    display: inline-block;
    width: 44px;
    height: 44px;
    background-image: url(../images/eyes/eyeopen.svg); }
  div.select-layer input {
    padding: 0vh 0vh 0vh 1vh;
    width: 100%; }
