* {
  margin: 0;
  padding: 0;
}

html {
  overflow-y: hidden;
}

/* color variables */
/* https://developer.mozilla.org/en-US/docs/Web/CSS/Using_CSS_custom_properties */

:root {
  /* colors */
  --toggle-fullscreen: rgba(80, 80, 80, 128);
  --toggle-fullscreen-hover: rgba(196, 196, 196, 196);
  --almost-black: #080808;
  --green: #a4d292;
  --bright-green: #bff5aa;
  --brighter-green: #cfffbb;
  --bright-teal: #3ddaf6;
  --dark-teal: #2b88ac;
  --bright-blue: #032741;
  --bright-pink: #f33c85;
  --bright-red: #ff0000;
  --medium-red: #800000;
  --category-selected-border: #f43c86;
  --category-not-selected-border: #202e31;
  --canvas-container-border-color: lightgray;
  --canvas-container-border-color-fullscreen: #222;
  --translucent-gray: rgba(32, 32, 32, 0.6);

  /* font sizes */
  --menu-page-title: 7.4vh;
  --menu-page-subtitle: 3vh;
  --menu-activity-category-title: 2.2vh;
  --menu-activity-category-page-title: 2vh;
  --menu-activity-category-page-subtitle: 1.8vh;
  --menu-category-page-name: 1.7vh;
  --menu-category-page-telescope: 1.5vh;
  --menu-activity-page-title: 2.8vh;
  --page-title: 3.4vh;
  --page-subtitle: 2vh;
  --animate-icons: 3.2vh;
  --control-title: 1.6vh;
  --control-subtitle: 1.6vh;
  --main-layer-selector: 2vh;
  --about-your-image: 2.8vh;
  --save-and-send-context: 2vh;
  --send-email-input: 1.6vh;
  --splash2-title: 8vh;
  --splash2-intro: 6vh;
}

body {
  font-family: Rajdhani, Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-size: 0.9vw;
  color: lightgray;
  background-image: url("../images/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  line-height: 1.2rem;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}

div#splash,
div#splash2 {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  color: white;
}

div#splash2 {
  z-index: 50;
}

#splash img {
  width: inherit;
  height: inherit;
}

#splash2 img {
  width: inherit;
  height: inherit;
  object-fit: cover;
}

#splash-center {
  position: fixed;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 0;
  bottom: 0;
  left: 0;
  text-transform: uppercase;

  .title-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    .title1 {
      align-self: center;
      font-size: 6vh;
      height: 6vh;
      margin-bottom: 1em;
    }

    .title2 {
      align-self: center;
      font-size: 12vh;
      height: 20vh;
      font-weight: 500;
    }
  }
}

#splash2-content {
  position: fixed;
  height: 40vh;
  background-color: var(--translucent-gray);
  width: 100%;
  left: 0;
  top: 28vh;
  padding: 10vh 10vw;
  display: flex;
  flex-direction: row;
  align-items: flex-start;

  .title {
    font-size: 4vh;
    line-height: 1.2em;
    width: 28vw;
    color: var(--bright-green);
    text-transform: uppercase;
    margin: 0 2vw;
  }
  .intro {
    font-size: 2.5vh;
    line-height: 1.1em;
    width: 50vw;
    color: lightgray;
    margin: 0 2vw;
  }
  #splash2-continue {
    align-self: flex-end;
    font-size: 120%;
    color: var(--bright-green);
    margin: 0 2vw;
    width: 10vw;
    background-color: transparent;
    border-color: var(--bright-green);
    // border: 2px solid var(--light-green);
  }
}

#splash-footer {
  height: 8vh;
  text-transform: uppercase;

  .start {
    font-size: 4vh;
  }
}

#loading-spinner {
  position: absolute;
  pointer-events: none;
  left: 0;
  top: 0;
  z-index: 300;
  width: 100%;
  height: 100%;
  div.spinner-border.text-secondary {
    color: var(--bright-teal) !important;
  }
  &.hide {
    display: none !important;
  }
}

.menu-page-header {
  margin: 1vh 0rem 6vh 6vh;
  padding-top: 1vh;

  .title {
    font-size: var(--menu-page-title);
    line-height: 120%;
    padding: 1rem 0rem 0rem 0rem;
    color: var(--bright-green);
    text-transform: uppercase;
  }

  .subtitle {
    font-size: var(--menu-page-subtitle);
    line-height: 120%;
    padding: 0rem;
    color: var(--bright-teal);
  }
}

div {
  &.menu-activity-category-title {
    margin: 1rem 1rem;
  }

  &.category {
    &.selected > .menu-activity-category-title,
    &.not-selected > .menu-activity-category-title {
      display: none;
    }
  }
}

img.menu-activity-category-title {
  margin: 0rem 0rem;
  width: 100%;
}

div.category {
  margin: 0rem 1rem;
  padding: 0;
  max-height: 40vh;
  transition: max-height 0.4s;

  &.selected {
    max-height: 20vh;
    overflow: hidden;
    border: 2px solid var(--category-selected-border);
    border-radius: 4px;
  }

  &.not-selected {
    max-height: 20vh;
    overflow: hidden;
    border: 2px solid var(--category-not-selected-border);
    filter: brightness(50%);
  }

  > img {
    width: 100%;
    border: 2px solid var(--bright-green);
    border-radius: 4px;
  }

  &.selected > img {
    border: none;
  }

  &.not-selected > img {
    border: none;
  }
}

div#menu-category-telescope {
  margin-left: 4vw;
}

header.menu-activity-category-title {
  font-size: var(--menu-activity-page-title);
  line-height: 120%;
  text-align: center;
  padding: 0rem 0rem;
  color: var(--bright-teal);
  text-transform: uppercase;
}

#menu-category-find-apollo-pages {
}

#menu-category-masterpiece-pages {
  left: 10%;
}

#menu-category-animate-pages {
  left: 24%;
}

#menu-category-rgb-pages {
  right: -8%;
}

#menu-category-multi-wave-pages {
  right: -45%;
}

#menu-category-observation-pages {
  margin-left: auto;
}

#menu-connnect-svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  pointer-events: none;
}

#menu-connnect-line {
  display: none;
  stroke: var(--category-selected-border);
  stroke-width: 2px;
  &.show {
    display: inline;
  }
}

#menu-separator-svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  pointer-events: none;
}

#menu-separator-line {
  display: none;
  stroke: var(--bright-teal);
  stroke-width: 2px;
  &.show {
    display: inline;
  }
}

div {
  &.menu-category-pages {
    display: none;
    position: relative;
    height: 38vh;
    width: fit-content;
    padding: 2vh 2rem 0vh 2rem;
    border: 2px solid var(--category-selected-border);
    border-radius: 4px;

    &.selected {
      display: block;
    }

    .header {
      max-width: 30vw;
    }

    svg {
      position: absolute;
      width: 2em;
      height: 2em;
      top: 0.5em;
      right: 0.5em;
    }

    circle {
      left: auto;
      fill: transparent;
      stroke: var(--bright-green);
      cx: 50%;
      cy: 50%;
      r: 46%;
      stroke-width: 6%;
    }

    line {
      left: auto;
      stroke: var(--bright-green);
      stroke-width: 6%;
      cx: 50%;
      cy: 50%;
    }

    circle:hover {
      stroke-width: 2;
    }

    .body {
      display: flex;
      height: 26vh;
    }

    .title {
      font-size: var(--menu-activity-category-page-title);
      padding-bottom: 0.5rem;
      color: var(--bright-green);
      text-transform: uppercase;
    }

    .subtitle {
      font-size: var(--menu-activity-category-subtitle);
      line-height: 120%;
      padding: 0rem 0rem 0.5rem 0rem;
      color: white;
    }

    .action {
      font-size: var(--menu-activity-category-subtitle);
      font-weight: bold;
      line-height: 120%;
      padding: 0rem 0rem 0.5rem 0rem;
      color: white;
      text-transform: uppercase;
    }
  }

  &.menu-category-page {
    width: 14vw;
    min-width: 14em;
    max-width: 14em;
    margin-right: 1rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    line-height: 2vh;

    .image-wrapper {
      height: 80%;
      width: 100%;
      border: 1px solid var(--bright-green);
      border-radius: 4px;
      img {
        padding: 2px;
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
    .name {
      font-size: var(--menu-category-page-name);
      color: var(--bright-teal);
      text-transform: uppercase;
      padding-top: 0.25em;
    }

    .telescope {
      font-size: var(--menu-category-page-telescope);
      color: var(--bright-teal);
    }
  }

  &.menu-activity-page-title {
    margin: 1rem 1rem;
  }
}

img.menu-activity-page-title {
  margin: 0rem 1rem;
  width: 90%;
  border: 1px solid var(--bright-green);
  border-radius: 4px;
}

div.offcanvas {
  height: 87vh;
  background-color: black;
  color: lightgray;
  border: 1px solid var(--dark-teal);
}

div.offcanvas-header {
  button.btn-close-white {
    border: none;
    width: 2vh;
    height: 2vh;
  }
}

div.offcanvas-end {
  width: 18vw;
  top: 10px;
  right: 5px;
}

#developerToolsSideBar-body {
  font-size: 90%;
  padding-top: 0vh;
  header {
    font-size: 110%;
    margin-bottom: 0.5vh;
  }
  a {
    color: var(--green);
    text-decoration: none;
    &.btn-light {
      font-size: 90%;
      font-weight: bold;
      color: black;
    }
  }
  a.reset {
    color: var(--medium-red);
    font-size: 120%;
    &:hover {
      color: var(--bright-red);
    }
  }
  a.toggle {
    color: lightgray;
    font-size: 120%;
    &:hover {
      color: white;
    }
  }
  a.toggle.on {
    color: white;
  }
  label {
    text-transform: none;
  }
  input[type="number"] {
    margin-left: 0.5vw;
    padding-left: 0.25vw;
    width: 3.5vw;
    border: 1px solid #ccc;
    border-radius: 2px;
  }
  div.pos {
    width: 4vw;
    padding-right: 0;
  }
  div.xaxis {
    font-size: 90%;
  }
  div.setting {
    width: 8vw;
    padding-right: 0;
  }
  div.data {
    label {
      text-transform: none;
    }
    input {
      margin-right: 0.5vw;
    }
    div {
      margin-bottom: 0.1vh;
    }
    div.pos {
      width: 4vw;
      padding-right: 0;
    }
  }
  div.pos {
    width: 4vw;
    padding-right: 0;
    margin-botton: 0.5vh;
  }
  div {
    margin-bottom: 0.5vh;
  }
  div.image-inspect {
    input {
      margin-right: 0.5vw;
    }
    div.data {
      div {
        margin-bottom: 0;
      }
      div.pos {
        width: 4vw;
        padding-right: 0;
      }
    }
    div.pos {
      width: 4vw;
      padding-right: 0;
    }
  }
}

.btn-clipboard,
.btn-reset {
  display: block;
  padding: 0.25rem 0.25rem;
  color: var(--dark-teal);
  background-color: #fff;
  border: 1px solid;
  border-radius: 0.25rem;
  &:hover {
    font-weight: bold;
  }
}

.btn-reset {
  i {
    color: var(--medium-red);
    &:hover {
      color: var(--bright-red);
    }
  }
}

svg#inspect-indicator {
  position: absolute;
  pointer-events: none;
  z-index: 10;
  display: none;
  &.show {
    display: block;
  }
  color: var(--bright-teal);
}

header.menu-activity-page-title {
  font-size: var(--menu-activity-page-title);
  line-height: 120%;
  text-align: center;
  padding: 0rem 0rem;
  color: var(--bright-teal);
  text-transform: uppercase;
}

.activity-category-menu {
  margin: 4vh 2vw;

  > .row {
    margin-bottom: 2em;
  }
}

.activity-category-pages {
  margin: 4vh 1vw;
}

.activity-page {
  margin: 1.5vh 1vw 0vh 1vw;
  height: 92vh;
}

.activity-page-menu > .row {
  margin-bottom: 2em;
}

.start-activity-page {
  background-color: black;
  font-size: 1.8vh;
  width: 10em;
  height: fit-content;
}

.page-navigation {
  font-size: 1.2vh;
  margin: 1vw;
  z-index: 200;
}

.page-navigation-button {
  background-color: black;
  font-size: 1.2vh;
}

.left-column {
  .subtitle,
  .morecontext {
    margin-bottom: 1em;
  }
}

button.scale {
  width: 4vh;
  background-color: black;
  font-size: 2vh;
  font-weight: 600;
  color: white;
  padding: 0;
  margin: 0 1vh;
}

.h1,
h1 {
  font-size: 1.8rem;
  font-size: 2.4vw;
}

.h2,
h2 {
  font-size: 1.5rem;
  font-size: 2vw;
}

.h3,
h3 {
  font-size: 1.3rem;
  font-size: 1.8vw;
}

.h4,
h4 {
  font-size: 1.1rem;
  font-size: 1.4vw;
}

label,
button {
  text-transform: uppercase;
}

.page-header {
  margin: 0vh 0vh 1.5vh 0vh;
}

.page-title {
  font-size: 3.4vh;
  font-size: var(--page-title);
  padding: 0.5rem 0rem;
  color: var(--bright-green);
  text-transform: uppercase;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.page-subtitle {
  line-height: 120%;
  font-size: var(--page-subtitle);
  padding: 0.5rem 0rem;
  color: var(--bright-teal);
}

div.control-collection {
  background-color: var(--dark-teal);
  background-color: #042842;
  padding: 1vh 1vh;
  div.find-apollo {
    width: 100%;
    height: 22vh;
    margin: 0.5vh 0vh;
    background-color: var(--almost-black);
    border: 2px solid var(--canvas-container-border-color);
    &.matchingscale {
      border: 2px solid var(--bright-pink);
    }
    canvas {
      width: 100%;
      height: 100%;
      padding: 0;
      margin: 0;
      object-fit: cover;
    }
  }
  &.select-layer,
  .color-maps {
    margin-bottom: 1vh;
    padding-bottom: 0.2vh;
    padding-top: 0.2vh;
  }
  &.special-effects {
    margin-top: 1vh;
    margin-bottom: 1vh;
  }
  > .title {
    color: var(--bright-green);
    font-size: var(--control-title);
    padding: 0vh 0vh 0.5vh 0.5vh;
  }
  > .subtitle {
    font-size: var(--control-subtitle);
    padding: 0vh 0vh 0.5vh 0.5vh;
  }
  &.adjust-layer {
    margin-top: 1vh;
    margin-bottom: 1vh;
    > .subtitle {
      margin-bottom: 1vh;
    }
  }
  > .name {
    text-transform: uppercase;
  }
  > .context {
    font-size: var(--control-subtitle);
    padding: 0.5vh 0vh 0.25vh 0.5vh;
  }

  > .row,
  form > .row {
    margin: 0.75em 0em;
    max-height: 4vh;
    .effect,
    .select-filter {
      &:hover {
        color: white;
        font-weight: bold;
      }
    }
    &.select-filter {
      input {
        margin: 0vh 0vh 0vh 0vh;
        padding: 0;
      }
      label {
        font-size: var(--control-subtitle);
      }
    }
    &.special-effects {
      input {
        margin: 0vh 0vh 0vh 0vh;
        padding: 0;
      }
      label {
        font-size: var(--control-subtitle);
        padding-left: 0.5vh;
      }
    }
  }
  div.adjust-filter {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 1.5rem;

    label {
      width: 6.5rem;
      margin-right: 0.25rem;
    }
    div.slider-icon {
      svg {
        width: 1.7vw;
        height: 1.7vw;
        path {
          fill: var(--dark-teal);
          stroke-width: 1px;
        }
        &:hover {
          path {
            fill: white;
          }
        }
      }
    }
    input {
      padding: 0;
      width: 10rem;
    }
    output {
      width: 2.5rem;
      padding-left: 0.5rem;
    }
  }
}

div.row.select-filter {
  &:hover {
    color: white;
    font-weight: bold;
  }
}

div.color-maps {
  > row {
    margin: 0.5em 0em;
    padding: 0;
    div.col-6 {
      padding: 0, 0, 0, 1em;
    }
  }
}

div.select-cmap {
  padding: 0;
  height: 2.5vh;
  &.selected {
    color: white;
    font-weight: unset;
    border: 1px solid var(--dark-teal);
    border-radius: 2px;
    background-color: var(--dark-teal);
  }
  &:hover {
    color: white;
    font-weight: 600;
    border: 1px solid white;
    border-radius: 2px;
  }
  div.label {
    padding-left: 0rem;
    text-transform: uppercase;
  }
  div.canvas {
    padding: 0.25rem 0.25rem 0.25rem 0rem;
    canvas {
      object-fit: fill;
    }
  }
}

.select-filter-label:hover {
  color: white;
  font-weight: bold;
}

.solid-right-arrow {
  color: red;
  padding-right: 0.2rem;
}

div.filter-palette {
  padding: 0.25rem 0.25rem 0.25rem 0rem;
  max-height: 4vh;
  canvas {
    // height: fit-content;
    object-fit: fill;
  }
}

.image-name {
  font-size: var(--page-subtitle);
  color: var(--bright-teal);
  text-transform: uppercase;
}

.page-image {
  border: 3px solid white;
}

.row-spacer {
  min-height: 6vh;
}

.display-layer-checkbox {
  width: 1.5em;
}

.select-layer-checkbox {
  padding-left: 0.5rem;
  width: 3rem;
}

#scaling {
  input {
    width: 2.5vh;
    height: 2.5vh;
  }

  .scaling-label {
    margin: 0vh 0.5vh 0vh 0.5vh;
  }
  .scaling-radio {
    margin: 0vh 1vh 0vh 0.5vh;
  }
}

div.btn-tf > svg {
  width: 2.4vh;
  height: 2.4vh;
  margin: 0vh 0.25vh 0.25vh 1vh;
  fill: var(--toggle-fullscreen);
  path {
    stroke-width: 6px;
  }
  &:hover {
    path {
      fill: lightgray;
    }
  }
  &:not {
    fill: var(--toggle-fullscreen-hover);
  }
  display: none;
  &.show {
    display: flex;
  }
}

div#btn-tf-micc {
  position: absolute;
  z-index: 10;
  bottom: 0.3vh;
  right: 1.2vw;
  height: 3vh;
  width: 3vh;
}

div#btn-tf-micc > svg.show:fullscreen {
  display: none;
}

body:not(.dev) svg.fsOpen,
svg.fsClose {
  display: none;
}

div#btn-toggle-developer-tools-page-navigation {
  margin-right: 4vh;
}

/* http://stackoverflow.com/questions/7615009/disable-interpolation-when-scaling-a-canvas */

div.main-image-content {
  display: inline-block;
}

#under-main-image-row {
  margin-top: 1vh;
  margin-left: 1vh;
  align-items: center;
  .subtitle {
    font-size: var(--control-subtitle);
  }
}

form#image-select-main-layer {
  margin-right: 10vh;
}

div.shrinking-spacer {
  height: 12%;
  flex: 0 4 auto;
}

div.telescope-container {
  flex: 0 1 auto;
  div.about-telescope {
    padding: 0.75rem 0rem;
    font-size: var(--page-subtitle);
    text-transform: uppercase;
  }
  div.telescope-image-container {
    height: 16vh;
    width: 100%;
    background-color: black;
    border: 2px solid var(--dark-teal);
    img {
      background-color: black;
      height: 100%;
      width: 100%;
      object-fit: contain;
    }
  }
}

#animate-controls {
  margin: 2vh 0.5vh;
  font-size: var(--animate-icons);
  .step {
    margin-top: 4vh;
    border: 2px solid var(--green);
    border-radius: 0.5vh;
    &:hover {
      color: var(--bright-green);
      border: 2px solid var(--bright-green);
    }
  }
  .playpause {
    font-size: 180%;
    &:hover {
      color: var(--bright-green);
    }
  }
  .animate-control {
    color: var(--green);
    padding: 0.1rem 0.5rem;
    // cursor: none;
    .label {
      font-size: 55%;
      text-transform: uppercase;
    }
    &:focus-visible {
      outline: 4px dashed black;
      cursor: none;
    }
    &:focus:not(:focus-visible) {
      outline: none;
      box-shadow: 1px 1px 5px rgba(1, 1, 0, 0.7);
    }
  }
  .back {
    padding-right: 0.2rem;
  }
  .next {
    padding-left: 0.2rem;
  }

  div#animate-play {
    display: block;
  }
  div#animate-pause {
    display: none;
  }
}

#animate-controls.playing {
  div#animate-play {
    display: none;
  }
  div#animate-pause {
    display: block;
  }
}

#preview-image-name {
  color: var(--bright-teal);
  text-transform: uppercase;
}

div#preview-image-center-name {
  color: var(--almost-black);
  text-transform: uppercase;
  font-size: 120%;
  font-weight: 600;
}

div#preview-image-back-name,
div#preview-image-next-name {
  color: var(--bright-teal);
  background-color: transparent;
  text-transform: uppercase;
  font-size: 120%;
  font-weight: 600;
}

.unselectable {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

div.zoom-preview-content {
  border: 2px solid var(--bright-teal);
  padding: 0.5vh 1vh 1vh 1vh;
  background-color: black;
  > .label {
    float: left;
  }
}

div#preview-image-container {
  border: 2px solid var(--canvas-container-border-color);
  // border-radius: 3px;
}

div#preview-image-canvas-container {
  position: relative;
  height: 30vh;
  width: 100%;
  margin: 0;
  background-color: var(--almost-black);
  > .label {
    float: left;
  }
  canvas {
    position: absolute;
    left: 0;
    top: 0;
    padding: 0;
    margin: 0;
    object-fit: contain;
  }
  &.zoomrect {
    height: 18vh;
    width: 18vh;
    background-color: black;
    border: none;
  }
  &.zoomrect > canvas {
    width: 18vh;
    &.overzoomrect {
      cursor: move;
    }
  }
}

canvas#preview-palette {
  position: unset;
  display: block;
  border-top: 1px solid var(--canvas-container-border-color);
}

#multi-wave-telescope-name {
  margin-top: 0.25vh;
  margin-left: -0.5vh;
  z-index: 10;
}

.zoom-rect-container {
  width: 100%;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

div#preview-image-center-canvas-container {
  position: relative;
  height: 10vh;
  width: 100%;
  margin: 0;
  background-color: var(--almost-black);
  border: none;
  canvas {
    position: absolute;
    padding: 0;
    margin: 0;
    object-fit: contain;
  }
}

div#preview-image-back-canvas-container,
div#preview-image-next-canvas-container {
  position: relative;
  height: 10vh;
  width: 100%;
  margin: 0;
  background-color: var(--almost-black);
  border: none;
  canvas {
    position: absolute;
    padding: 0;
    margin: 0;
    object-fit: contain;
  }
}

div#preview-image-canvas-container.animate {
  height: 10vh;
  width: 100%;
  border: none;
}

div.animate-center {
  background-color: var(--brighter-green);
  border-radius: 1px;
}

.animate-left,
.animate-right {
  background-color: var(--dark-teal);
  border-radius: 1px;
}

#column-middle-spacer {
  flex-grow: 1;
}

#dev-right {
  flex: 0 1 auto;
  margin-bottom: 6vh;
}

.modal-dialog {
  max-width: unset;
  width: 40vw;
  .modal-content {
    background-color: var(--almost-black);
    border: 3px solid var(--canvas-container-border-color);
    border-radius: 3px;
    button {
      width: fit-content;
    }
    .modal-header {
      h5 {
        font-size: var(--page-title);
        color: var(--bright-green);
      }
      padding: 0.5vh 2vh;
      div.image-container {
        margin-left: 2vh;
        height: 10vh;
        width: 30%;
        background-color: black;
        img {
          background-color: black;
          height: 100%;
          width: 100%;
          object-fit: contain;
        }
      }
      button.btn-close {
        min-width: 3vw;
        font-size: 6vh;
        color: white;
      }
    }
    .modal-body {
      font-size: var(--page-subtitle);
      color: var(--bright-teal);
      line-height: 120%;
    }
  }
}

#save-and-send-modal.fade,
#observation-modal.fade {
  transition: opacity 0.15s linear;
}

body.fadeout .modal-backdrop.show {
  opacity: 1;
  bottom: 90vh;
}

body.nofadeout .modal-backdrop.show {
  opacity: 0;
  top: 12vh;
  height: 76vh;
}

body.nofadeout .modal {
  top: 12vh;
  height: 76vh;
}

body.nofadeout .activity-page {
  display: none;
}

body.nofadeout #btn-toggle-developer-tools-page-navigation {
  display: none;
}

body:not(.dev) #btn-toggle-developer-tools-page-navigation {
  display: none;
}

div#observation-image-container {
}

div#observation-modal .modal-body {
  height: 45vh;
}

#save-and-send-modal .modal-dialog,
#observation-modal .modal-dialog {
  max-width: none;
  width: 100vw;
  height: 45vh;
  padding-left: 2vw;
  background-color: black;
  .modal-content {
    background-color: black;
    border: none;
    button {
      width: fit-content;
    }
    .modal-header {
      background-color: black;
      border: none;
      h5 {
        font-size: var(--page-title);
        color: var(--bright-green);
        text-transform: uppercase;
      }
      padding: 0.5vh 2vh;
      button.btn-close {
        // display: none;
        min-width: 3vw;
        font-size: 6vh;
        color: white;
      }
    }
    .modal-footer {
      border: none;
      button {
        display: none;
      }
    }
    .modal-body {
      height: 45vh;
      width: 100%;
      font-size: var(--page-title);
      color: var(--bright-teal);
      background-color: black;
      line-height: 120%;
      .salutation {
        text-transform: uppercase;
      }
      .about-your-image {
        margin-top: 1vh;
        line-height: 100%;
        font-size: var(--about-your-image);
        .image-name {
          font-size: var(--about-your-image);
        }
      }
      .image-name {
        font-size: var(--page-title);
      }
      .context {
        margin-top: 2vh;
        font-size: var(--save-and-send-context);
        line-height: 110%;
        color: white;
      }
      .enter-email {
        label {
          padding-left: 0;
          padding-bottom: 0.25vh;
          line-height: 100%;
          font-size: var(--send-email-input);
        }
        input {
          padding: 0vh 1vh;
          background-color: black;
          color: white;
          border: 1px solid var(--bright-teal);
          border-radius: 2px;
          letter-spacing: 1px;
          &[type="hidden"] {
            display: none;
          }
        }
        button {
          margin: 0vh 2vh;
        }
      }
      .image-container {
        margin-left: 2vh;
        margin-top: 0.5vh;
        height: 30vh;
        width: 30vh;
        padding: 0;
        background-color: black;
        border: 2px solid var(--canvas-container-border-color);
        border-radius: 3px;

        img {
          background-color: black;
          height: 100%;
          width: 100%;
          object-fit: contain;
        }
      }
    }
  }
}

#save-and-send-enter-email-button,
#observation-enter-email-button,
#observation-send-email-button {
  font-size: var(--save-and-send-context);
  color: var(--bright-green);
  border-color: var(--bright-green);
  margin-top: 1vh;
  margin-left: 3vw;
}

canvas {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

div#save-and-send-canvas-container {
  position: relative;
  min-height: 30vh;
  min-width: 30vh;
  margin: 0;
  padding: 0;
  background-color: black;
  border: 3px solid var(--canvas-container-border-color);
  border-radius: 3px;
  &:fullscreen {
    width: 90vw;
    height: 80vh;
    border: 3px solid var(--canvas-container-border-color-fullscreen);
  }
  canvas {
    position: absolute;
    padding: 0;
    margin: 0;
    background-color: gray;
    object-fit: contain;
    &.red {
      background-color: red;
    }
    &.green {
      background-color: green;
    }
    &.blue {
      background-color: blue;
    }
    &.layer {
      cursor: all-scroll;
      background-color: var(--almost-black);
    }
    &:last-child {
      display: block;
      background-color: var(--almost-black);
    }
  }
}

div#micc-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  border: 3px solid var(--canvas-container-border-color);
  border-radius: 3px;
}

div#main-image-canvas-container {
  position: relative;
  width: 100%;
  height: 74vh;
  margin: 0;
  padding: 0;
  background-color: black;
  &:fullscreen {
    width: 90vw;
    height: 80vh;
    border: 3px solid var(--canvas-container-border-color-fullscreen);
  }
  canvas {
    position: absolute;
    padding: 0;
    margin: 0;
    top: 0;
    // left: 0;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, 0%);
    width: 100%;
    max-width: 100%;
    background-color: gray;
    object-fit: contain;
    &.red {
      background-color: red;
    }
    &.green {
      background-color: green;
    }
    &.blue {
      background-color: blue;
    }
    &.layer {
      cursor: all-scroll;
      background-color: var(--almost-black);
    }
    &:last-child {
      display: block;
      background-color: var(--almost-black);
    }
    &.inspect {
      cursor: crosshair;
      border: 1px solid darkgray;
    }
    &.inspecting {
      cursor: none;
    }
  }
}

div#main-canvas-wrapper {
  position: relative;
  height: 74vh;
  margin: 0;
  padding: 0;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, 0%);
  width: unset;
  max-width: 100%;
  background-color: gray;
  &.inspect {
    cursor: crosshair;
    border: 1px solid darkgray;
  }
  &.inspecting {
    cursor: none;
  }
}

canvas#main-image-canvas-red {
  // height: 100%;
  // width: 100%;
  object-fit: contain;
}

span.touchinfo {
  background: transparent;
  &.hidden {
    display: none;
  }
  left: 50%;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
  // width: calc(90% - 40px);
}

div.main-image-content:not(:root):fullscreen {
  width: 100%;
  height: 100%;
  display: inline-block;
  #main-image-canvas-container {
    width: 100%;
    height: 94vh;
    border: 3px solid var(--canvas-container-border-color-fullscreen);
    max-height: none;
  }
}

div.layer-histogram {
  display: block;
}

div#image-stats {
  display: block;
}

#scaling-control {
  margin: 1vh 0vh;
  display: flex;
}

div.histogram-container {
  height: 8vh;
  width: 100%;
  margin: 0.5em 0em;
  padding: 0px;
  background-color: var(--almost-black);
  border: 1px solid var(--bright-teal);
}

#image-layer-histogram.canvas,
#layer-histogram-rawdata.canvas {
  background-color: black;
  height: 100%;
  width: 100%;
}

@media print {
  body,
  html * {
    visibility: hidden;
    overflow: hidden;
    height: 100vh;
  }

  .main-image-canvas {
    visibility: visible;
    display: block;
    background-color: white;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    padding: 15px;
    top: 50%;
    left: 50%;

    /* bring your own prefixes */
    transform: translate(-50%, -50%);
  }
}

// https://css-tricks.com/custom-styling-form-inputs-with-modern-css-features/

@supports (-webkit-appearance: none) or (-moz-appearance: none) {
  input[type="checkbox"],
  input[type="radio"] {
    --active: #275efe;
    --active-inner: #fff;
    --focus: 2px rgba(39, 94, 254, 0.3);
    --border: #bbc1e1;
    --border-hover: #275efe;
    --background: #fff;
    --disabled: #f6f8ff;
    --disabled-inner: #e1e6f9;
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 21px;
    outline: none;
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin: 0;
    cursor: pointer;
    border: 1px solid var(--bc, var(--border));
    background: var(--b, var(--background));
    rowselect-filter: background 0.2s, border-color 0.2s, box-shadow 0.1s;
    &:after {
      content: "";
      display: block;
      left: 0;
      top: 0;
      position: absolute;
      transition: transform var(--d-t, 0.2s) var(--d-t-e, ease),
        opacity var(--d-o, 0.2s);
    }
    &:checked {
      --b: var(--active);
      --bc: var(--active);
      --d-o: 0.3s;
      --d-t: 0.6s;
      --d-t-e: cubic-bezier(0.2, 0.85, 0.32, 1.2);
    }
    &:disabled {
      --b: var(--disabled);
      cursor: not-allowed;
      opacity: 0.9;
      &:checked {
        --b: var(--disabled-inner);
        --bc: var(--border);
      }
      & + label {
        cursor: not-allowed;
      }
    }
    &:hover {
      &:not(:checked) {
        &:not(:disabled) {
          --bc: var(--border-hover);
        }
      }
    }
    &:focus {
      box-shadow: 0 0 0 var(--focus);
    }
    &:not(.switch) {
      width: 21px;
      &:after {
        opacity: var(--o, 0);
      }
      &:checked {
        --o: 1;
      }
    }
    & + label {
      font-size: 14px;
      line-height: 21px;
      display: inline-block;
      vertical-align: top;
      cursor: pointer;
      margin-left: 4px;
    }
  }
  input[type="checkbox"] {
    &:not(.switch) {
      border-radius: 7px;
      &:after {
        width: 5px;
        height: 9px;
        border: 2px solid var(--active-inner);
        border-top: 0;
        border-left: 0;
        left: 7px;
        top: 4px;
        transform: rotate(var(--r, 20deg));
      }
      &:checked {
        --r: 43deg;
      }
    }
    &.switch {
      width: 38px;
      border-radius: 11px;
      &:after {
        left: 2px;
        top: 2px;
        border-radius: 50%;
        width: 15px;
        height: 15px;
        background: var(--ab, var(--border));
        transform: translateX(var(--x, 0));
      }
      &:checked {
        --ab: var(--active-inner);
        --x: 17px;
      }
      &:disabled {
        &:not(:checked) {
          &:after {
            opacity: 0.6;
          }
        }
      }
    }
  }
  input[type="radio"] {
    border-radius: 50%;
    &:after {
      width: 19px;
      height: 19px;
      border-radius: 50%;
      background: var(--active-inner);
      opacity: 0;
      transform: scale(var(--s, 0.7));
    }
    &:checked {
      --s: 0.5;
    }
  }
}

div.select-layer {
  padding: 0em 1em;
  div.eyes-input {
    text-transform: uppercase;
    font-size: var(--main-layer-selector);
  }
  label {
    font-size: var(--control-subtitle);
    &.eyes-input {
      display: inline-block;
      width: 44px;
      height: 44px;
      cursor: pointer;
      background-image: url(../images/eyes/eyeclosed.svg);
    }
  }

  input[type="checkbox"].eyes-input {
    display: none;
  }

  input[type="checkbox"]:checked + label.eyes-input {
    background-image: url(../images/eyes/eyeopen.svg);
  }

  label.eyes-input:has(> input[type="checkbox"]:checked) {
    display: inline-block;
    width: 44px;
    height: 44px;
    background-image: url(../images/eyes/eyeopen.svg);
  }

  input {
    padding: 0vh 0vh 0vh 1vh;
    width: 100%;
  }
}
