* {
  margin: 0;
  padding: 0;
}

html {
  overflow-y: scroll;
}

/* color variables */
/* https://developer.mozilla.org/en-US/docs/Web/CSS/Using_CSS_custom_properties */
:root {
  --bright-green: #bff5aa;
  --bright-teal: #3ddaf6;
  --dark-teal: #2b88ac;
  --bright-blue: #032741;
  --bright-pink: #f33c85;
}

body {
  font-family: Rajdhani, Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-size: 1.2vw;
  color: lightgray;
  background-image: url("background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  line-height: 1.2rem;
}

.content {
  overflow: hidden;
}

.activity-page {
  height: 100vh;
  width: 100vw: margin: 1vw 1vw;
}

.page-navigation {
  margin: 1vw;
}

.page-navigation-button {
  background-color: black;
  font-size: 2.0vh;
  height: 4.0vh;
}

.h1, h1 {
  font-size: 1.8rem;
  font-size: 2.4vw;
}

.h2, h2 {
  font-size: 1.5rem;
  font-size: 2vw;
}

.h3, h3 {
  font-size: 1.3rem;
  font-size: 1.8vw;
}

.h4, h4 {
  font-size: 1.1rem;
  font-size: 1.4vw;
}

button, input {
  width: 100%;
}

.page-title {
  color: var(--bright-green);
}

.page-subtitle {
  color: var(--bright-teal);
}

.page-image {
  border: 3px solid white;
}

.row-spacer {
  min-height: 6vh;
}

input:checked {
  border: 6px solid red;
}

/* http://stackoverflow.com/questions/7615009/disable-interpolation-when-scaling-a-canvas */
canvas {
  /* image-rendering: optimize-contrast !important;
  -ms-interpolation-mode: nearest-neighbor !important;
  image-rendering: crisp-edges !important;
  image-rendering: -moz-crisp-edges !important;
  image-rendering: optimizeSpeed !important;
  image-rendering: pixelated; */
  image-rendering: auto;
  /* image-rendering: pixelated;
  image-rendering: -webkit-optimize-contrast; */
  background-color: black;
  width: auto;
  height: 100%;
  max-height: 80vh;
}

@media print {
  body, html * {
    visibility: hidden;
    overflow: hidden;
    height: 100vh;
  }

  #canvasrgb {
    visibility: visible;
    display: block;
    background-color: white;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    padding: 15px;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
  }
}